
<h1>club de la pelea</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <form mat-table>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nombre" [(ngModel)]="user.name" id="nombre" name="name" >
                  </mat-form-field><br>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" [(ngModel)]="user.pws" id="password" type="password" name="password">
                  </mat-form-field><br>
                  <button mat-raised-button (click)="getUser()" color="accent">Ingresar</button>
                  
            </form>
        </div> 
    </div>
</div>
<p>(ง︡'-'︠)ง</p>
<p>ʕ•ܫ•ʔ</p>
